{% extends 'base.html' %}

{% block content %}
    {% for blog in featured_blog %}
    {% if forloop.first %}
    <div class="img-container">
        <img src="{{ blog.featured_image.url}}" alt="">
        <div class="img-info">
            <h1>{{blog.title}}</h1>
            <p>{{blog.short_description | truncatewords:25}}</p>
            <a href="{% url 'blogs' blog.slug %}">Continue reading ...</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <h1 class="featured-head">
        Featured blogs
    </h1>
    <div class="post-container">
        <div class="post-carousle">

            {% for blog in featured_blog %}
            {% if not forloop.first %}
            <div class="post">
                <img src="{{ blog.featured_image.url}}" alt="">
                <div class="post-info">
                    <h2> <a href="{% url 'blogs' blog.slug %}">{{blog.title}}</a></h2>
                    <span>{{blog.updated_at | timesince}} ago | by {{blog.author}}</span>
                    <p>{{blog.short_description | truncatewords:25}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="blog-articles-container">
        <div class="blog-articles">
            {% for article in blog %}
            <div class="article">
                <h1><a href="{% url 'blogs' article.slug %}">{{article.title}}</a></h1>
                <span>{{article.updated_at | timesince}} ago  | by {{ article.author }}</span>
                <p>{{article.short_description | truncatewords:25}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="personal-info">
            <div class="about">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate rem animi vel eius
                    voluptatum temporibus error, velit nemo quod suscipit ad quidem mollitia repellendus tempora, ex
                    libero. At, delectus!</p>
            </div>
            <ul class="follow-us">
                <h1>Follow-us</h1>
                <li>Github</li>
                <li>Linked In</li>
            </ul>
        </div>
    </div>
  {% endblock %}