*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
:root{
    --white:#ffffff;
    --smoke:#e5e5e5;
    --orange-1:#fca311;
    --orange-2:#e2910f;
    --navy:#14213d;
    --black:#000000;
    --button-bdr:5px;
    --grey:rgb(87, 87, 87);
}
body{
    padding-bottom: 50px;
    position: relative;
}
html::-webkit-scrollbar-thumb{
    width: 10px;
}
html::-webkit-scrollbar-track{
    color: var(--orange-1);
}

.navbar{
    height: 50px;
    background-color: var(--white);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 100px;
}
.navbar a{
    text-decoration: none;
}
.navbar span{
   display:flex;
}
.navbar span h1{
   color: var(--navy);
}
.navbar span p{
   color: var(--orange-1);
}
.navbar .login{
   text-decoration: none;
   background-color: var(--orange-1);
   color:var(--white);
   margin-right: 20px;
   padding: 7px 20px;
   border-radius: var(--button-bdr);
}
.navbar .login:hover{
   cursor: pointer;
   background-color: var(--orange-2);
   
}
.navbar .register{
   text-decoration: none;
   border: 1px solid var(--orange-1);
   color:var(--orange);
   margin-right: 20px;
   padding: 7px 20px;
   border-radius: var(--button-bdr);
}
.navbar .register:hover{
   background-color: var(--smoke);
}
.nav-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    height: 50px;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.nav-links li{
    list-style: none;
    color: var(--navy);
    
}
.nav-links li a{
    text-decoration: none;
    color: var(--navy);
    
}
.category-head{
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    margin-block: 20px;
    font-size: 40px;
    color: var(--orange-1);
    padding-inline: 100px;
}
.category-head span{
    color: var(--navy);
}
.blog-article-category{
    height: fit-content;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-inline: 100px;
}
.blog-articles{
    height: 100%;
    width: 70%;
    padding-block: 20px;
    background-color: var(--white);


}
.blog-articles .article{
    padding-inline: 10px;
    margin-bottom: 30px;
    border-left: 5px solid var(--orange-1);
}
.blog-articles .article h1{
    font-size: 34px;
    color: var(--navy);
    margin-bottom: 20px;
}
.blog-articles .article span{
    font-size: 24px;
    color: gray;
    margin-block: 10px;
}
.blog-articles .article p{
    font-size: 20px;
    margin-block: 10px;
}
.no-data-found{
    width: 100%;
    padding-inline: 100px;
    color: var(--orange-1);
    font-size: 28px;

}
.footer{
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    height: 50px;
    width: 100%;
    padding-inline: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.footer span{
    display: flex;
    height: 100%;
    align-items: center;
}
.footer span p{
    color: var(--orange-1);
    font-size: 20px;
    margin-right: 10px;
}
.footer span h1{
    color: var(--navy);
    text-transform: uppercase;    
}
.footer img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;  
    margin-inline: 30px; 
}